{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- To update this page, copy the next div from index.hbs --}}

<div class="site-header-content outer{{#match @custom.header_style "Left aligned"}} left-aligned{{/match}}{{#unless @custom.show_publication_cover}}{{#match @custom.header_style "Hidden"}} no-content{{/match}}{{/unless}}">

    {{#if @custom.show_publication_cover}}
        {{#if @site.cover_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="xl"}}"
                alt="{{@site.title}}"
            />
        {{/if}}
    {{/if}}

    {{#match @custom.header_style "!=" "Hidden"}}
        <div class="site-header-inner inner">
            {{#match @custom.navigation_layout "Logo on cover"}}
                {{#if @site.logo}}
                    <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    <h1 class="site-title">{{@site.title}}</h1>
                {{/if}}
            {{/match}}
            {{#if @site.description}}
                <p class="site-description">{{@site.description}}</p>
            {{/if}}
        </div>
    {{/match}}

</div>



{{!-- The main content area --}}
<main id="site-main" class="site-main outer">

    <article class="article {{post_class}}">
        <section class="gh-content gh-canvas">

{{#post}}
    {{content}}
{{/post}}

<div class="details_area">

	<details open>
	    <summary>Critical Fallibilism</summary>

	    <ul>
	    {{> "all-post-links-by-filter" filter="tags:critical-fallibilism" order="published_at asc" page="1"}}
	    </ul>
	</details>

	<details open>
	    <summary>Recent Articles</summary>
	    <ul>
	    {{#get "posts" limit='8' order='published_at desc'}}
	        {{#foreach posts}}
	             <li><a href="{{url}}">{{title}}</a></li>
	        {{/foreach}}
	    {{/get}}
	    </ul>
	</details>


	<details closed>
	    <summary>Skills</summary>
	    {{#get "tags" limit="1" filter="slug:skills"}}
	        {{#foreach tags}}
	            <p class="tag-description">{{description}}</p>
	        {{/foreach}}
	    {{/get}}
	    <ul>
	    {{> "all-post-links-by-filter" filter="tags:skills" order="published_at asc" page="1"}}
	    </ul>
	</details>

	<details closed>
	    <summary>Research</summary>
	    {{#get "tags" limit="1" filter="slug:research"}}
	        {{#foreach tags}}
	            <p class="tag-description">{{description}}</p>
	        {{/foreach}}
	    {{/get}}
	    <ul>
	    {{> "all-post-links-by-filter" filter="tags:research" order="published_at desc" page="1"}}
	    </ul>
	</details>

	<details closed>
	    <summary>Classics</summary>
	    {{#get "tags" limit="1" filter="slug:classics"}}
	        {{#foreach tags}}
	            <p class="tag-description">{{description}}</p>
	        {{/foreach}}
	    {{/get}}
	    <ul>
	    {{> "all-post-links-by-filter" filter="tags:classics" order="published_at asc" page="1"}}
	    </ul>
	</details>


	<details closed>
	    <summary>More</summary>

		<details closed>
		    <summary>Applications</summary>
		    {{#get "tags" limit="1" filter="slug:applications"}}
		        {{#foreach tags}}
		            <p class="tag-description">{{description}}</p>
		        {{/foreach}}
		    {{/get}}
		    <ul>
		    {{> "all-post-links-by-filter" filter="tags:applications" order="published_at desc" page="1"}}
		    </ul>
		</details>




		<details closed>
		    <summary>Shorts</summary>
		    <ul>
		    {{> "all-post-links-by-filter" filter="tags:shorts" order="published_at desc" page="1"}}
		    </ul>
		</details>



		<details closed>
		    <summary>News</summary>
		    <ul>
		    {{> "all-post-links-by-filter" filter="tags:news" order="published_at desc" page="1"}}
		    </ul>
		</details>
	
	</details>
</div>


        </section>
    </article>

</main>

